{%extends 'base.html'%}

{%block title%}To-Do App {%endblock%}

{%block content%}
{%if messages%}
	{%for message in messages%}
		<div class="alert alert-success alert-dismissable" role="alert">
		<button class="close" data-dismiss="alert">
			<small><sup>x</sup></small>
		</button>
		{{message}}
		</div>
	{%endfor%}
{%endif%}
	{%if all_items%}</br>
		<table class="table">
			{%for things in all_items%}
				{%if things.completed%} 
				  <tr class="table-secondary">
				    <td class="striker"><a href="{%url 'edit' things.id%}">{{things.item}}</a></td>
				    <td><center><a href="{%url 'uncross' things.id%}">Uncross</center></a></td>
				    <td><center><a href="{%url 'delete' things.id%}" method="POST">Delete</center></a></td>
				  </tr>
				{%else%}
				  <tr>
				    <td><a href="{%url 'edit' things.id%}">{{things.item}}</a></td>
				    <td><center><a href="{%url 'cross' things.id%}">Cross Off</center></a></td>
				    <td><center><a href="{%url 'delete' things.id%}" method="POST">Delete</center></a></td>
				  </tr>
				{%endif%}
			{%endfor%}
		</table>
	{%endif%}
{%endblock%}